<ion-view view-title="My Notes">
  <ion-content ng-controller="ListCtrl as list">
      <div class="padding">
        <a href="#/add" class="button button-block button-calm">New Note</a>
      </div>
      <ion-list>
        <ion-item class="item-remove-animate"
          href="#/edit/{{note.id}}" ng-repeat="note in list.notes">
          <h2>{{note.title}} </h2>
          <p>{{note.description}}</p>
          <ion-option-button class="button-assertive" ng-click="list.remove(note.id)">Delete</ion-option-button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
